# 计算优化实验报告
## 李俊涵
第一次做这种类型的实验报告，完全没有经验捏，说实话在看到考题的时候就是无从下手，好在最后边学边做做完了。我对编程的了解仅限于我初高中上的微机课，一点基础都没有，只好在ai的带领下走一步看一步。如若做的不好也请学长多多包涵，尽力了。下面是实验报告正文。
## 1安装双系统
在此我要特别鸣谢李政阳学长，他提供了安装双系统的具体步骤，非常感谢。
<img width="3072" height="1920" alt="屏幕截图 2025-10-20 090900" src="https://github.com/user-attachments/assets/23b9fc7c-69de-40ee-a773-bea12f883b7f" />
我一开始在官网下载unbutu，但是下载速度过慢，于是我找到了清华大学开源镜像网站，在这里下载速度就快多了
<img width="3072" height="1920" alt="屏幕截图 2025-10-20 091236" src="https://github.com/user-attachments/assets/74635090-8f8c-4fdc-b872-4b6236195b72" />
然后将一个u盘当作启动盘并在硬盘上划分100g存储空间给linux系统
<img width="3072" height="1920" alt="屏幕截图 2025-10-20 091331" src="https://github.com/user-attachments/assets/bd582b68-927f-4add-8be7-0aa1c9fa54b1" />
最后成功创建了双系统
<img width="3072" height="1920" alt="5bfb7c291bf6268cf4270d95b8589856" src="https://github.com/user-attachments/assets/f9b365db-1a5c-4d91-a22e-7661ea303369" />
